*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: black;
  text-shadow: 2px 4px 25px black;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: black;
  z-index: 1;
}

.webgl {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 0;
}

.titleRow {
  height: 12vh;
  z-index: 5;
}

.subtitleRow {
  z-index: 5;
}

.canvasRow {
  height: 62vh;
}

.statSpacer {
  height: 4vh;
}

.bottom-spacer {
  height: 5vh;
}

#title {
  font-size: 28px;
  font-weight: 700;
  color: white;
  text-align: center;
}


#subtitle {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

#totalBooks, #blackBooks {
  margin-bottom: 3px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
}

#stat {
  margin-top: 0px;
}

#footer {
  color: white;
  font-size: 14px;
  text-align: center;
}